html {
    height: 100vh; 
    margin: auto 0;
}

h1 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 75px;
    color: #FDDB27FF;
}
h3 {
    text-align: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: lightyellow;
    font-weight: lighter;
}

#instruction {
    position: relative;
    bottom: 30px;
    font-size: 35px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    width: 600px;
    height: 600px;
    font-family: Helvetica, "sans-serif";
    background-color: rgb(13, 32, 51);
    /* background-image: url(../images/sunset.jpg); */

}
  #btnPlay {
    position: relative; 
    left: 263px;
    bottom: -50px;
    /* margin: 0 auto; */
  }
  #game {
      display: none;
  }

  #game.show {
    display: block;
  }

#game-board {
    margin: auto;
}

  /* ======================== GRID ========================================== */
tr td:hover {
    background-color: yellow;
   }

td {
    height: 80px;
    width: 80px;
    border-radius: 30%;
    font-family: Helvetica, "sans-serif";
    font-size: 30px;
    text-align: center;
    color: rgb(16, 51, 148);
    background-color: azure;

  }

 
/* table columns */
  tr td:first-child {
    border-left: 4px solid rgb(85, 123, 134);
    border-right: 4px solid rgb(85, 123, 134);
  }

  tr td:nth-child(2) {
    border-left: 4px solid rgb(85, 123, 134);
    border-right: 4px solid rgb(85, 123, 134);
  }

  tr td:nth-child(3) {
    border-left: 4px solid rgb(85, 123, 134);
    border-right: 4px solid rgb(85, 123, 134);
  }

  tr td:last-child {
    border-left: 4px solid rgb(85, 123, 134);
    border-right: 4px solid rgb(85, 123, 134);
  }

  /* table rows  */
  tr:first-child td {
    border-top: 4px solid grey;
    /* border-bottom: 4px solid grey; */
  } 
  
  tr:nth-child(2) td {
    border-top: 4px solid grey;
    /* border-bottom: 4px solid grey; */
  } 
  
  tr:nth-child(3) td {
    border-top: 4px solid grey;
    /* border-bottom: 4px solid grey; */
  } 
  
  tr:last-child td {
    border-top: 4px solid grey;
  } 